<template>
    <div class="container">
        {{ msg }}
    </div>
</template>

<script>
    export default {
        name: 'HelloWorld',
        data() {
            return {
                msg: 'Welcome to Your Vue.js App: ' + Vue.prototype.appConfig.app_url
            }
        }
    }
</script>
